// CARROUSEL

/* Conteneur du carrousel */

.slick-slider {
  display: flex;
  align-items: center;
}
.slick-slider img {
  max-height: 750px;
  max-width: 750px;
}

.skill-item {
  height: 750px;
}

.skill-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Éléments individuels du carrousel */

.soft-skills-container-photos {
  max-height: 100%;

  border-radius: 5px;
}

.soft-skills-container-photos button {
  max-width: 50px;
  border: none;
  box-shadow: none;
  height: 100%;
}
.slick-center {
  flex: 0 0 100%; /* La slide du milieu prend 100% de la largeur */
}
.slick-slide {
  flex: 0 0 calc(33.33% - 10px);
  align-items: center;
  margin: 0 5px;
  transition: transform 0.3s ease;
}
/* Styles pour les flèches de navigation */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  z-index: 1;
}

.slick-prev:before,
.slick-next:before {
  content: "";
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: black;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

.slick-next {
  right: -25px;
}

/* Styles pour les points indicateurs */
.slick-dots {
  position: absolute;

  bottom: 25px;

  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-dots li {
  margin: 0 5px;
  display: inline-block;
  color: aliceblue;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 10px;
  height: 10px;
  padding: 5px;
  border: none;
  background: transparent;
  cursor: pointer;
  color: aliceblue;
  outline: none;
}

@media (max-width: 964px) {
  .slick-slider img,
  .skill-item {
    max-width: 300px;
    max-height: 300px;
    height: 300px;
  }
  .soft-skills-container-photos {
    max-height: 360px;
  }

  .boutons-container {
    justify-content: space-between;
    width: 100%;
  }
}
.slick-dots li button:before {
  color: $orange;
}
