// FONT
@import url("https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Philosopher&family=Sonsie+One&family=Syne:wght@400;700;800&family=Titan+One&family=Work+Sans&display=swap");

$font-1: "Work Sans", sans-serif;
$font-2: "ADLaM Display", sans-serif;
$font-3: "Titan One";
$font-4: "Philosopher";
$font-5: "Syne", sans-serif;
$font-6: "Sonsie One";

$orange: #eb5b29;
$orange1: #eca993;
$night: #202124;
$night-2: #1e293b57;
$night-3: #0f172a;
$day: #fefcfe;

$blue: #1f00db;

* {
  box-sizing: border-box;
}

body {
  background-color: $night-3;
  color: $day;

  padding: 0;
  margin: 0;

  font-family: $font-5;
  font-size: 1rem;
}

.body {
  margin: 2rem 5rem 2rem 5rem;
}

span {
  color: $orange;
}

h1 {
  font-weight: 400;
  font-family: $font-3;
  font-size: 2.6rem;
}

h2 {
  font-family: $font-5;
  font-weight: 800;
  font-size: 3rem;
}

li {
  list-style-type: none;
}
ul {
  margin: 0;
  padding: 0;
}

button,
input,
textarea {
  border-radius: 6px;
  border: 2px solid $orange1;

  min-width: 170px;

  height: 65px;
  flex-shrink: 0;
  background-color: #ffffff00;

  color: $orange1;
  font-size: 1rem;
  font-family: $font-5;
  font-weight: 400;

  &:hover {
    border: 2px solid $orange;
    color: $orange;
    box-shadow: 0px 0px 2px rgba(235, 91, 41, 0.04),
      0px 0px 8px rgba(235, 91, 41, 0.08), 0px 0px 17px rgba(235, 91, 41, 0.12),
      0px 0px 30px rgba(235, 91, 41, 0.16), 0px 0px 47px rgba(235, 91, 41, 0.2);
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb {
  background-color: $orange;
  border-radius: 20px;
}

@media (max-width: 964px) {
  .body {
    margin: 1rem;
    padding: 0;
  }
  .descr {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  button {
    min-width: 60px;
  }

  h2 {
    font-family: $font-5;
    font-weight: 800;
    font-size: 2rem;
  }
}
